:root {
    --color-primary: #948efc;
    --color-secondary: #aa6252;
    --color-tert: #726ec0;
    --color-bar: #615bc4;
    --color-shadow-primary: #2f2b82;
    --color-surface: #2D2F36;
    --color-text-primary: #FFFFFF;
    --color-background: #a4a2a2;
    --color-text-2: #0c0d0f;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", serif;
    padding-top: 70px;
}